@charset "UTF-8";
@import url("reset.css");

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(247, 235, 235);
  font-family: "Aboreto";
}

.login {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
}
.login .inner {
  width: 60%;
  padding: 3%;
  background-color: white;
}
.login .inner h1 {
  font: normal 60px/1 "Aboreto";
  color: #555;
  margin-bottom: 25px;
}
.login .inner table {
  width: 100%;
  border: none;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.login .inner table th,
.login .inner table td {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 2% 1%;
}
.login .inner table th {
  width: 25%;
}
#signup {
  width: 23%;
  height: 40px;
  border: 1px solid #333;
  margin: 10px;
  font: bold 14px "Aboreto";
  background: #fff;
  color: #555;
  cursor: pointer;
  transition: 0.4s;
}
#signup:hover {
  background: #333;
  color: #fff;
}
#signin {
  width: 23%;
  height: 40px;
  border: 1px solid #333;
  margin: 10px;
  font: bold 14px "Aboreto";
  background: #333;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
#signin:hover {
  background: #fff;
  color: #555;
}

.login .inner table td {
  border-left: 1px solid #ccc;
  font-family: Arial;
}
.login .inner table td input[type="text"],
.login .inner table td input[type="password"] {
  width: 70%;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid #aaa;
  padding: 10px;
}
.login .inner table td textarea {
  width: 60%;
  height: auto;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid #aaa;
  resize: none;
}
.login .inner table td p {
  font: 10px/1;
  color: rgb(218, 17, 17);
  margin-top: 5px;
}

footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(30, 29, 29, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_copyright i {
  color: rgb(102, 38, 229);
}
.footer_copyright {
  color: rgb(169, 168, 168);
  font: 0.8vw/2 "Arial";
  letter-spacing: 2px;
}
.footer_scroll-up {
  width: 50px;
  height: 50px;
  background: rgba(68, 67, 67, 0.8);
  border-radius: 50%;
  position: fixed;
  bottom: 3vh;
  right: 3vh;
  z-index: 10;
  text-align: center;
  line-height: 47px;
  color: white;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.footer_scroll-up:hover {
  background: rgb(173, 172, 172);
}
